<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="toolbar">
    <ion-title>
      <img src="../assets/icon/1.png" class="imagem"/>
    </ion-title>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<div class="primeira">
  <h1 class="display-4">Parabéns!</h1>
  <div class="jumbotron">
    <p class="lead">Serviços contratados com êxito, dentro de até 7 dias úteis a defesa será protocolada.</p>
  </div>
  <hr class="my-4">
</div>
<div class="segunda">
  <p class="docs">Faça upload ou tire fotos dos documentos necessários abaixo:</p>
  <ul class="listaum">
    <li>CNH aberta ou RG aberto com CPF (Obrigatório)</li>
    <li>Comp. Residência (Obrigatório)</li>
    <li>CRLV (Facultativo)</li>
  </ul>
    <ion-item>
      <ion-button>Fazer upload</ion-button>
    </ion-item>
  <p class="subtexto">Observações:</p>
  <ion-item class="ph">
    <ion-textarea class="txtarea">
          <ion-list class="itens">
            <ion-item class="label1">
            Imagem deve estar legível, sem cortes.
            </ion-item>
            <ion-item class="label2">
           Comprovante de residência pode estar em nome de terceiros(Pai, Mãe, filho ou cônjuge).
            </ion-item>
            <ion-item>
              É valido como comprovante de residência qualquer correspondência (ex: cartão de crédito, luz, água, gás..)
            </ion-item>
          </ion-list>
     
    </ion-textarea>
  </ion-item>
</div>
<ion-footer class="ion-no-border">
  <img src="assets/imagens/11.png" class="rodape"/>   
</ion-footer>
</ion-content>