<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="toolbar">
      <ion-title>
        <img src="../assets/icon/1.png" class="imagem" />
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Suspensão</ion-title>
    </ion-toolbar>
  </ion-header>

  <header>
    <div class="card-img-overlay">
      <h2 class="animated wow fadeInLeft">
        Cassação
      </h2>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1 mb-5">
        <h3 class="mt-5 mb-5">Cassação de CNH:</h3>
        <p>
          Caso o infrator estiver conduzindo veículo, durante o período de suspensão, estará sujeito à imposição
          de multa, conforme disposto o art.162, inciso II, do CTB, e à instauração do processo de cassação da
          CNH, de acordo com o art.263, inciso I, do CTB. O condutor com a CNH cassada ficará obrigatoriamente 2
          anos sem poder dirigir e só poderá solicitar a reabilitação após esse prazo, passando novamente por todo
          o processo para obter o documento.
        </p>
        <p class="mt-5">
          DA CASSAÇÃO DO DOCUMENTO DE HABILITAÇÃO<br>
          Art. 19. Deverá ser instaurado processo administrativo de cassação do documento de habilitação, pela
          autoridade de trânsito do órgão executivo de seu registro, observado no que couber as disposições dos
          Capítulos IV, V e VI, desta Resolução, quando:<br>

          <ion-icon name="caret-forward-outline" class="caret"></ion-icon>I - suspenso o direito de dirigir, o infrator
          conduzir qualquer veículo;<br>
          <ion-icon name="caret-forward-outline" class="caret"></ion-icon>II - no caso de reincidência, no prazo de doze
          meses, das infrações previstas no inciso III do art. 162 e nos arts. 163, 164, 165, 173, 174 e 175, todos do
          CTB.<br>
          <ion-icon name="caret-forward-outline" class="caret"></ion-icon>V - é possível a instauração do processo de
          cassação do documento de habilitação do proprietário que não realizar a indicação do condutor infrator de que
          trata o art. 257, § 7º, do CTB.
        </p>
      </div>

    </div>
  </div>

  <ion-footer class="ion-no-border">
    <img src="assets/imagens/11.png" class="rodape"/>   
  </ion-footer>
</ion-content>