<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="toolbar">
    <img src="../assets/icon/1.png" class="imagem"/>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-title class="titulo">Suspensão da Habilitação</ion-card-title>
      <ion-card-header class="cabeçalho">
        Informe o número do processo que deseja recorrer :

       
          
       
        <div class="pesquisa">
        <ion-toolbar>
          <ion-searchbar></ion-searchbar>
        </ion-toolbar>
      </div>
   
        

      </ion-card-header>
      <ion-card-content>

        

     <ion-list>
      Campo não Obrigatório,caso queria relatar algo pertinente sobre a infração,relate na caixa abaixo.
      <ion-item class="ph">
        <ion-label position="floating" ></ion-label>
        <ion-textarea placeholder=""></ion-textarea>
      </ion-item>




<ion-item>
<ion-button (click)='voltarHome()'> <- Home</ion-button>
<ion-button (click)='avancarCart()'>Ir ao Carrinho -> </ion-button>
</ion-item>


</ion-list>
      </ion-card-content>
    </ion-card>

  <ion-footer class="ion-no-border">
      <img src="assets/imagens/11.png" class="rodape"/>   
    </ion-footer>
</ion-content>
