<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="toolbar">
    <ion-title>
      <img src="../assets/icon/1.png" class="imagem"/>
    </ion-title>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="card-img-overlay">
      <h2 class="animated wow fadeInLeft">
          Suspensão
      </h2>
  </div>

<div class="container">
<div class="row">
    <div class="col-md-10 offset-md-1 mb-5">
        <h3 class="mt-5 mb-5">Suspensão da Habilitação.</h3>
        <p>
            O processo administrativo de suspensão do direito de dirigir de condutor infrator, que poderá suspender
            o direito de dirigir de 6 (seis) meses a 2 (dois) anos, conforme estabelecido nos artigos 256, inciso
            III, 261 do Código de Trânsito Brasileiro (CTB) e Resolução Contran 723/2018, só será instaurado depois
            de esgotados todos os meios de defesa da(s) infração(ões).
        </p>
        
        <p class="mt-5">SUSPENSÃO POR SOMA DA PONTUAÇÃO REGISTRADA NA CNH.</p>
        
        <p>
            <ion-icon name="caret-forward-outline" class="caret"></ion-icon>Cada infração possui uma pontuação (7, 5, 4, 3). Sendo assim sempre que o condutor infrator ou proprietário do veículo atingir 20 pontos ou mais (isto é, a soma das infrações) na CNH (Carteira Nacional de Habilitação), no período de 12 (doze) meses, será instaurado, em até 5 (cinco) anos, o Processo de Suspensão.
            <br><ion-icon name="caret-forward-outline" class="caret"></ion-icon>Existem infrações que, de forma especifica, preveem a penalidade de suspensão do direito de dirigir. Essas infrações são gravíssimas e estão estabelecidas no Código de Trânsito Brasileiro, como, por exemplo, conduzir veículo sob a influência de álcool (art. 165 do CTB). Todas  as infrações que por si só já suspendem a CNH:
            <br><ion-icon name="caret-forward-outline" class="caret"></ion-icon>Dirigir alcoolizado (art. 165). Suspensão de 12 meses;
            <br><ion-icon name="caret-forward-outline" class="caret"></ion-icon>Recusar-se a teste, exame clínico, perícia ou qualquer procedimento que permita certificar influência de álcool ou outra substância que determine dependência (art. 165-A). Suspensão de 12 meses;
            <br><ion-icon name="caret-forward-outline" class="caret"></ion-icon>Usar veículo para interromper, restringir ou perturbar a circulação da via (art. 253-A). Suspensão de 12 meses;
            <br><ion-icon name="caret-forward-outline" class="caret"></ion-icon>Efetuar manobra perigosa (art. 175). Suspensão de dois a oito meses;
            <br><ion-icon name="caret-forward-outline" class="caret"></ion-icon>Dirigir moto sem capacete (art. 244, I). Suspensão de dois a oito meses;
            <br><ion-icon name="caret-forward-outline" class="caret"></ion-icon>Transportar, na moto, passageiro sem o capacete de segurança (art. 244, II). Suspensão de dois a oito meses;
            <br><ion-icon name="caret-forward-outline" class="caret"></ion-icon>Dirigir moto fazendo malabarismo ou equilibrando-se apenas em uma roda (art. 244, III). Suspensão de dois a oito meses;
            <br><ion-icon name="caret-forward-outline" class="caret"></ion-icon>Dirigir moto com os faróis apagados (art. 244, IV). Suspensão de dois a oito meses;
            <br><ion-icon name="caret-forward-outline" class="caret"></ion-icon>Transportar, na moto, criança menor de sete anos (art. 244, V). Suspensão de dois a oito meses;
            <br><ion-icon name="caret-forward-outline" class="caret"></ion-icon>Transpor bloqueio policial (art. 210). Suspensão de dois a oito meses;
            <br><ion-icon name="caret-forward-outline" class="caret"></ion-icon>Dirigir ameaçando pedestres/veículos (art. 170). Suspensão de dois a oito meses;
            <br><ion-icon name="caret-forward-outline" class="caret"></ion-icon>Dirigir em velocidade superior em mais de 50% do limite permitido (art. 218, III). Suspensão de dois a oito meses
            <br><ion-icon name="caret-forward-outline" class="caret"></ion-icon>Disputar corrida (art. 173). Suspensão de dois a oito meses;
            <br><ion-icon name="caret-forward-outline" class="caret"></ion-icon>Participar de competição esportiva em via pública sem permissão da respectiva autoridade de trânsito (art. 174). Suspensão de dois a oito meses;
            <br><ion-icon name="caret-forward-outline" class="caret"></ion-icon>Omitir-se de socorrer vítima (art. 176). Suspensão de dois a oito meses;
            <br><ion-icon name="caret-forward-outline" class="caret"></ion-icon>Forçar passagem entre veículos transitando em sentidos opostos (art. 191). Suspensão de dois a oito meses.
        </p>

        <p class="mt-5 text-uppercase">Processo de suspensão com REINCIDÊNCIA </p>

        <p>
            Em caso de reincidência, o tempo de suspensão varia de seis meses até vinte e quatro meses para os casos de processos formados por infrações anteriores a 01/11/2016 e de oito a dezoito meses para os casos posteriores a esta data.
            <br><ion-icon name="caret-forward-outline" class="caret"></ion-icon> O Código de Trânsito considera reincidência quando a penalidade é aplicada novamente até 12 meses depois.
            <br><ion-icon name="caret-forward-outline" class="caret"></ion-icon>Se a repetição da suspensão pelo mesmo motivo (pontos ou infração) configurar reincidência, os prazos passarão a ser os seguintes:
            <br><ion-icon name="caret-forward-outline" class="caret"></ion-icon>Suspensão por pontos - mínimo de oito meses e máximo de dois anos;
            <br><ion-icon name="caret-forward-outline" class="caret"></ion-icon>Suspensão por infração - mínimo de oito meses e máximo de 18 meses.
          </p>
    </div>
</div>
</div> 

<ion-footer class="ion-no-border">
  <img src="assets/imagens/11.png" class="rodape"/>   
</ion-footer>
</ion-content>